// CSSの記述はここで行う.全てのページに反映される.
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

li {
  margin-bottom: 10px;
}

.month_calendar td {
  font-size: 15px;
  text-align: left;
}
