<%= form_with url: user_schedule_schedule_shares_path(user_id: current_user.id, schedule_id: @schedule.id), method: :post do |form| %>

  <h2>共有先ユーザー</h2>
  <% current_user.followings.each do |user| %>
    <div>
      <%= check_box_tag 'schedule_share[user_ids][]', user.membership_id %>
      <%= "#{user.last_name}#{user.first_name}" %>
    </div>
  <% end %>
  <br>
  <%= form.submit '共有する', class: 'btn btn-primary' %>
<% end %>